P { font-family: Verdana;
font-size: 15px;
line-height: 110%;
text-indent: 5%;
text-align:justify;
margin-left: 2%;
margin-right: 2%;
}

P1 {
font-family: Verdana;
font-size: 15px;
line-height: 110%;
text-indent: 5%;
text-align: left;
margin-left: 2%;
margin-right: 2%;
background-color: #DC8732;
}

LI { font-family: Verdana;
font-size: 14px;
line-height: 110%;
text-indent: 2%;
text-align:justify;
margin-left: 2%;
margin-right: 2%;
}


H2 { font-family: Verdana;
font-size: 16px;
line-height: 110%;
text-indent: 2%;
text-align:justify;
margin-left: 2%;
margin-right: 2%;
}


BODY { background-color:#A9631D;
color: #800000;
}

A { color: #29140A
}